<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/styles.css" />

<header>
  <h1>API Key Management</h1>

  <div class="nav-container">
    <nav>
      <a href="/home">Home</a>
      <a href="/search">Search</a>

      <% if (!user) { %>
      <a href="/login">Login</a>
      <a href="/signup">Register</a>
      <% } else { %>
      <a href="/profile">Profile</a>
      <form action="/logout" method="POST" style="display: inline">
        <input type="hidden" name="csrfToken" value="<%= csrfToken %>" />
        <button type="submit" class="logout-btn">Logout</button>
      </form>
      <% } %>
    </nav>
  </div>
</header>
