<%- include('partials/header') %>

<main class="container">
  <div
    id="postDetail"
    data-post-id="<%= postId %>"
    data-user-id="<%= user ? user.id : '' %>"
  ></div>
</main>

<%- include('partials/footer') %>
<script src="/js/viewpost.js"></script>
